.paisagem {
    display: block;
    margin: 0px auto;
    position: absolute;
    height: 585px;
    width: 1200px;
    left: 130px;
    top: 256px
}
.logopaisagem {
        z-index: 1;
  }
  
  .logopaisagem {
    z-index: 3;
  }

.logopaisagem {
    position: absolute;
    width: 96px;
    height: 91px;
    left: 1199px;
    top: 299px;
}

.mentalix {
    position: absolute;
    width: 867px;
    height: 270px;
    left: 92px;
    top: 829px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 169px;

    color: #FFFFFF;
}

.botoes:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #09B0E5;
    z-index: -1;
    -webkit-transition: width 200ms ease-in-out;
    transition: width 200ms ease-in-out;
}

.botoes:hover {
    color: #DFEBE6;
}

.botoes:hover:after {
    width: 110%;
}

.botoes {
    width: 361px;
    height: 55px;
    top: 1044px;
    display: inline-block;
    margin: 0 0 100px 120px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 40px;
    background-color: #1d1e1a;
    border: 3px 3px 3px 3px;
    border-color: #09B0E5;
}

<<<<<<< HEAD
#divBusca{
  background-color:#DFEBE6;
  border:solid 2px #09B9E5;
  border-radius:10px;
  width:305px;
  height:32px;
  margin-left: auto;
  margin-right: auto;
}

.campo{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border:none;
  height:32px;
  width:191px;
}

#btnBusca{
  border:none;
  float:left;
  height:32px;
  border-radius:0 7px 7px 0;
  width:76px;
  font-weight:bold;
  background:#09B9E5;
}

#divBusca img{
  float:left;
  height:28px;
 width: 26px;
 padding-left:5px;
 padding-top: 2px;

}

#sugest{

     background-color: transparent;
  border-radius:12px;
  width:auto;
  height:auto;
  margin-left: auto;
  margin-right: auto;

}
 
=======
footer {
    width: 1440px;
    height: 440px;
    text-align: center;
    background-color: #1d1e1a;
    padding: 40px 0;
    margin-top: 2060px;
}

.links {
    padding: 8px 0;
}

.links img {
    padding: 8px;
}

.copyright {
    color: #DFEBE6;
    font-size: 13px;
    margin: 20px 0 0;
}
>>>>>>> a7303f43ba1ad697ed20345b81986783db0b2433
