.paisagem {
    display: block;
    margin: 0px auto;
    height: 585px;
    width: 1200px;
    left: 130px;
    top: 256px
}

.mentalix {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 169px;

    color: #FFFFFF;
}

.botoes:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #09B0E5;
    z-index: -1;
    -webkit-transition: width 200ms ease-in-out;
    transition: width 200ms ease-in-out;
}

.botoes:hover {
    color: #DFEBE6;
}

.botoes:hover:after {
    width: 110%;
}

.botoes {
    width: 361px;
    height: 55px;
    display: inline-block;
    margin: 0 0 100px 120px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 40px;
    background-color: #1d1e1a;
    border: 3px 3px 3px 3px;
    border-color: #09B0E5;
}
