#vid {

    position: absolute;

}




.titulo-principal {
    position: absolute ;
    width: 600px;
    height: 183px;
    left: 120px;
    top: 543px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
}

.som-classificacao {
    position: absolute;
    width: 247px;
    height: 68px;
    left: 1193px;
    top: 765px;
}

.Sobre{
    position: absolute;
    width: 1200px;
    height: 91px;
    left: 120px;
    top: 2466px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
}

.sobrementalix{
    position: absolute;
    width: 997px;
    height: 163px;
    left: 120px;
    top: 2577px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
}

.time{
    position: absolute;
    width: 997px;
    height: 42px;
    left: 120px;
    top: 2819px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
}
.botaocategorias {
    border-color: #09B0E5;
    border-radius: 0;
    color: #DFEBE6;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}

.botaocategorias:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #09B0E5;
    z-index: -1;
    -webkit-transition: width 200ms ease-in-out;
    transition: width 200ms ease-in-out;
}

.botaocategorias:hover {
    color: #DFEBE6;
    ;
}

.botaocategorias:hover:after {
    width: 110%;
}

.botaocategorias{
    position: absolute;
    width: 480px;
    height: 70px;
    top: 2280px;
    display: inline-block;
    margin: 13px 3px 13px 405px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 40px;
    background-color: #1d1e1a;
    border: 3px 3px 3px 3px;
    border-color: #09B0E5;
}



.botaoajuda {
    border-color: #09B0E5;
    border-radius: 0;
    color: #DFEBE6;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}

.botaoajuda:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #09B0E5;
    z-index: -1;
    -webkit-transition: width 200ms ease-in-out;
    transition: width 200ms ease-in-out;
}

.botaoajuda:hover {
    color: #DFEBE6;
    ;
}

.botaoajuda:hover:after {
    width: 110%;
}

.botaoajuda { 
    width: 386px;
    height: 71px;
    left: 527px;
    top: 4149px;
    display: inline-block;
    margin: 50px 395px 130px 50px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 40px;
    background-color: #1d1e1a;
    border: 3px 3px 3px 3px;
    border-color:#09B0E5;
}

.textoajuda{
    
    position: absolute;
    width: 794px;
    height: 45px;
    left: 323px;
    top: 4149px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
}

footer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 4292px;    
    text-align: center;
    background-color: #1d1e1a;
    padding: 40px 0;
    margin-top: 400px;
}

.links {
    padding: 8px 0;
}

.links img {
    padding: 8px;
}

.copyright {
    color: #DFEBE6;
    font-size: 13px;
    margin: 20px 0 0;
}
